@mixin respond-to($breakpoint) {
    @if $breakpoint =='small' {
        @media (max-width: 576px) {
            @content;
        }
    }

    @else if $breakpoint =='medium' {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $breakpoint =='large' {
        @media (max-width: 992px) {
            @content;
        }
    }

    @else if $breakpoint =='xlarge' {
        @media (max-width: 1200px) {
            @content;
        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}