@import 'styles/variables';

// Font Imports
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400,500,600&display=swap');

:root {
    font-family: $font-general;
    line-height: 1.5;
    font-weight: 400;
    color: $text-white;
    background-color: $bg-primary;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    @include responsive-container;
}


body {
    margin: 0;
    padding: 0;
    background-color: $bg-primary;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    font-family: inherit;
}